parameters:
    level: 8
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    bootstrapFiles:
        - .phpstan.php
    universalObjectCratesClasses:
        - JTL\OPC\PortletInstance
    phpVersion:
        min: 80200
        max: 80400
    treatPhpDocTypesAsCertain: false
    dynamicConstantNames:
        - PRODUCT_LIST_SHOW_RATINGS
        - SMARTY_LOG_LEVEL
        - SHOP_LOG_LEVEL
        - FILTER_SQL_QUERIES
        - SMARTY_LEGACY_MODE
        - SHOW_UPGRADE_CHANNEL_BLEEDING_EDGE
        - SHOW_UPGRADE_CHANNEL_ALPHA
        - SHOW_UPGRADE_CHANNEL_BETA
        - SHOW_UPGRADER
        - COMPRESS_DESCRIPTIONS
        - JOBQUEUE_LIMIT_M_XSELL
        - JOBQUEUE_LIMIT_M_XSELL_ALL
        - TRACK_VISITORS
        - DB_DEFAULT_SQL_MODE
        - PROFILE_QUERIES
        - REDIR_OLD_ROUTES
        - DEFAULT_CURL_OPT_VERIFYPEER
        - EXPORTFORMAT_ALLOW_PHP
        - COMPATIBILITY_TRACE_DEPTH
        - ENABLE_EXPERIMENTAL_ROUTING_SCHEMES
        - JTL_INCLUDE_ONLY_DB
        - CATEGORIES_SLUG_HIERARCHICALLY
        - SLUG_ALLOW_SLASHES
        - IO_LOG_CONSOLE
        - KEEP_SYNC_FILES
        - ART_MATRIX_MAX
        - PROFLE_SHOP
        - PLUGIN_DEV_MODE
        - JOBQUEUE_LIMIT_M_NEWSLETTER
        - JOBQUEUE_LIMIT_IMAGE_CACHE_IMAGES
        - JOBQUEUE_LIMIT_M_EXPORTE
        - JOBQUEUE_LIMIT_M_STATUSEMAIL
        - PRODUCT_LIST_CATEGORY_LIMIT
        - MAX_REVISIONS
        - PROFILE_SHOP
        - SHOW_REST_API
        - PROFILE_QUERIES
        - PROFILE_QUERIES_ECHO
        - PROFILE_PLUGINS
        - ES_DB_LOGGING
        - NICEDB_EXCEPTION_BACKTRACE
        - CONSISTENT_GROSS_PRICES
        - DB_STARTUP_SQL
        - NICEDB_EXCEPTION_ECHO
        - SHOW_DEBUG_BAR
        - SEO_SLUG_LOWERCASE
        - FORCE_IMAGEDRIVER_GD
        - SAFE_MODE
        - EXS_LIVE
        - URL_SHOP
        - EXPERIMENTAL_MULTILANG_SHOP
        - ES_SESSIONS
        - SAVE_BOT_SESSION
        - SMARTY_SHOW_LANGKEY
        - APPLICATION_BUILD_SHA
        - SHOW_TEMPLATE_HINTS
        - NEWSLETTER_USE_SECURITY
        - MAILTEMPLATE_USE_SECURITY
        - EXPORTFORMAT_USE_SECURITY
        - DB_HOST
        - DEBUG_MODE
        - DB_NAME
        - DB_PASS
        - DB_USER
        - ADMIN_MIGRATION
        - JTL_CHARSET
